@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans:
    "Mona Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

@layer utilities {
  .bg-gradient-smart-dark {
    background: linear-gradient(
      135deg,
      #0f0f0f 0%,
      #2a2a2a 25%,
      #1a1a1a 50%,
      #404040 75%,
      #0a0a0a 100%
    );
  }

  .bg-gradient-carbon-fiber {
    background: linear-gradient(
      120deg,
      #121212 0%,
      #2d2d2d 35%,
      #1f1f1f 65%,
      #383838 100%
    );
  }
  .bg-gradient-arctic-steel {
    background: linear-gradient(
      135deg,
      #00bfff 0%,
      #c0c0c0 25%,
      #4dd0e1 50%,
      #e8e8e8 75%,
      #0288d1 100%
    );
  }
}
